__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
.tox/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# CLI tool config (created by `python -m elm327_obdii`)
.elm327_obdii_config.json
